autostart.conf 
bindings.conf 
bindings.conf.bak.1779974613 
hypridle.conf  
hypridle.conf.bak.1778407342  
hyprland.conf 
hyprland.conf.bak.1779974613  
hyprlock.conf 
hyprsunset.conf 
input.conf 
input.conf.bak.1779974613 
looknfeel.conf 
looknfeel.conf.bak.1779974613 
monitors.conf 
monitors.conf.bak.1779974613  
xdph.conf

